Connection through pandas

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine("mssql+pymssql://dbadmin:Qwerty123@smx2024.database.windows.net:1433/dataAnalytics")

In [3]:
df = pd.read_csv("bank_accounts.csv")
df.head()

   ClientID  AccountNumber AccountType    Branch  TransactionAmount
0        26     2734463155     Savings    Prilep             506.57
1        27     1278710077    Checking    Bitola            4048.33
2        28     2090558393      Credit    Skopje            4391.86
3        29     8285571366     Savings    Prilep            7466.02
4        30     8354146178     Savings  Kumanovo            2583.52

In [5]:
df.to_sql("bank_beti", con=engine,if_exists="replace", index=False)

50

In [6]:
df = pd.read_sql("SELECT * FROM bank_beti", con=engine)

In [7]:
df.head()

   ClientID  AccountNumber AccountType    Branch  TransactionAmount
0        26     2734463155     Savings    Prilep             506.57
1        27     1278710077    Checking    Bitola            4048.33
2        28     2090558393      Credit    Skopje            4391.86
3        29     8285571366     Savings    Prilep            7466.02
4        30     8354146178     Savings  Kumanovo            2583.52